/* .glass {
	position: relative;
	background: rgba(225, 225, 225, 0.05);
	border-radius: 6px;
	overflow: hidden;
	z-index: 10;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	
	-webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	
} */

.glass__form {
	position: relative;
	display: grid;
}

.glass__form h4 {
	font-family: sans-serif;
	text-align: center;
	margin: 10px;
}

.glass__form__group {
	margin: 10px 0;
}

.glass__form__input {
	width: 100%;
	background: transparent;
    border-top: 1px solid rgba(225, 225, 225, 0.2);
	border-left: 1px solid rgba(225, 225, 225, 0.2);box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	min-width: 35vw;
	padding: 20px 30px;
    backdrop-filter: blur(15px);
	outline: none;
	border: solid white;
	padding: 10px;
	/* border-radius: 3px; */
	box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

.glass__form__input:focus {
	background: rgba(255, 255, 255, 0.5);
}

.glass__form__btn__submit {
	background: #ea2828;
	border: 1px solid #ea2828;
	border: none;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}

.glass__form__btn__submit:hover {
	background: transparent;
	color: rgb(0,212,212);
	transition: all ease-in-out 0.3s;
}


::placeholder {
	font-size: large;
    text-shadow: 4px 4px 4px #fff;
	color: #000;
}

