.glass {
	position: relative;
	background: rgba(225, 225, 225, 0.05);
	border-radius: 6px;
	overflow: hidden;
	z-index: 10;
	backdrop-filter: blur(15px);
	border-top: 1px solid rgba(225, 225, 225, 0.2);
	border-left: 1px solid rgba(225, 225, 225, 0.2);
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	min-width: 35vw;
	padding: 20px 30px;
}

.glass__form {
	position: relative;
	display: grid;
}

.glass__form h4 {
	font-family: sans-serif;
	text-align: center;
	margin: 10px;
}

.glass__form__group {
	margin: 10px 0;
}

.glass__form__input {
	width: 100%;
	background: transparent;
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

.glass__form__input:focus {
	background: rgba(255, 255, 255, 0.5);
}

.glass__form__btn {
	background: rgb(0, 212, 212);
	border: 1px solid rgb(0, 212, 212);
	border: none;
	outline: none;
	padding: 10px 15px;
	border-radius: 5px;
	color: #fff;

}

.glass__form__btn:hover {
	background: transparent;
	color: rgb(0, 212, 212);
	transition: all ease-in-out 0.3s;
}

::placeholder {
	/* Most modern browsers support this now. */
	color: #000;
}

.output {
	width: 100%;
	/* background: #da00ff; */
	outline: none;
	border: none;
	padding: 10px 15px;
	border-radius: 3px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

.radio{
	margin-top: 50px;
	text-shadow: none;
	font-size: 1.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}